//font-family
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nanum+Gothic&display=swap');
//color
$cyan: #00bcd4;
$cyan-1: #26c6da;
$cyan-2: #4dd0e1;
$cyan-3: #80deea;
$cyan-4: #b2ebf2;

// ----- header-menu1-bg ----------------->
$header-menu-bg: whitesmoke;
$header-menu-color: #123;
$header-menu-color-hover: #567;


.title{font-size: 1.4rem;}
.subtitle{font-size: 1rem;}

//---------------------------------------------->
//-- <HEADER> menu ---------------------------->
//---------------------------------------------->

#menu{
    margin-bottom: 1vh;
    .logo{
        
        .img-wrap{
            text-align: center;
            img{
                width: 15%;
            }
        }
    }

    .grid-container{

        border-top: 1px solid whitesmoke;
        border-bottom: 1px solid whitesmoke;
        padding: 10px;
        .grid-x{text-align: center;
            .cell{
                a{
                    color: $header-menu-color;
                    &:hover{
                        color: $header-menu-color-hover;
                    }
                }
            }
        }
    }
}


//---------------------------------------------->
//-- <SECTION> jumbotron ----------------------->
//---------------------------------------------->
#jumbotron{
    margin-bottom: 50px;
}


    //---------------------------------------------->
    //-- <ASIDE> 2 column ------ ------------------->
    //---------------------------------------------->
#aside{
    .grid-container{
        .grid-x{
            .left{}
            
            .right{
                .off-canvas-wrap{
                    display: none;
                    font-size: 100px;
                }
                .breadcumb{
                    padding-left: 20px;
                }
                h2{
                    background: whitesmoke;
                    padding: 10px;
                    font-size: 1.2rem;
                    padding-left: 13px;
                    margin-bottom: 30px;}
            }
        }
    }
}

footer{
    background: whitesmoke;
    height: 250px;
    color: rgb(70, 89, 107);
    padding: 20px;
    .footer1{
        img{
            padding-right: 10px;
            float: right;
            margin-top: 50px;
        }
        
    }
}






@media screen and (max-width: 460px){
    //---------------------------------------------->
    //-- <HEADER> 460px - menu 1 ------------------->
    //---------------------------------------------->

    #menu{
        .logo{
            .img-wrap{
                img{
                    width: 35%;
                }
            }
        }
        .cell:nth-child(n+1):nth-child(-n+6){
            font-size: 0.7rem;
        }
        .cell:nth-child(7){
            display: none;
        }
        .cell:nth-child(8){
            display: none;
        }
    }


    #aside{
        .grid-container{
            .grid-x{
                .left{
                    display: none;
                }
                
                .right{
                    .off-canvas-wrap{
                        margin-left: 10px;
                        display: block;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    footer{
        .footer1{
            img{
                width: 80%;
            }
        }
        .footer2{
            font-size: 0.7rem;
        }
        .button{
            font-size: 0.6rem;
        }
    }

} //end